body{
    background: url(images/dog3.jpg);
    background-size: cover;
}
.content{
    background: url(images/feathers.png) repeat center;
    text-align: center;
    margin: 200px auto;
    padding: 200px auto;
    width: 50%; 
    border: 7px black;
    
}
a {
	/* Change the display type of the a tag from inline to inline-block */
	display: inline-block;
	padding: 20px;
	margin: 20px 10px;
	/* Using a rounded font to match my rounded corners */
	font-family: 'Ledger', serif;
	text-decoration: none;
	/* Add a border radius of 5px to the button 
	http://css3gen.com/border-radius/ */
    border-radius: 5px; 
    background: rgb(255, 250, 230);
    transition: ease .8s all;

}
a:hover {
    background: rgb(206, 139, 90);
background: -moz-linear-gradient(30deg, rgb(206, 139, 90) 11%, rgb(117, 88, 116) 70%);
background: -webkit-linear-gradient(30deg, rgb(206, 139, 90) 11%, rgb(117, 88, 116) 70%);
background: -o-linear-gradient(30deg, rgb(206, 139, 90) 11%, rgb(117, 88, 116) 70%);
background: -ms-linear-gradient(30deg, rgb(206, 139, 90) 11%, rgb(117, 88, 116) 70%);
background: linear-gradient(120deg, rgb(206, 139, 90) 11%, rgb(117, 88, 116) 70%);
    
}
    
a:active {
	display: inline-block;
	padding: 20px;
	margin: 20px 10px;
	font-family: 'Ledger', serif;
	text-decoration: none;
    border-radius: 5px; 
    background: rgb(255, 250, 230); 
}
h1 {
    font-family:  'Dancing Script', cursive;}
p {
    font-family: 'Ledger', serif;}
    